In [1]:
import requests
import pandas as pd

In [2]:
season_id = '2022-23'
# for newest team info, change this id to next season

In [3]:
player_url = 'https://stats.nba.com/stats/playerindex?College=&Country=&DraftPick=&DraftRound=&DraftYear=&Height=&Historical=1&LeagueID=00&Season='+season_id+'&SeasonType=Regular%20Season&TeamID=0&Weight='

In [4]:
headers  = {
    'Connection': 'keep-alive',
    'Accept': 'application/json, text/plain, */*',
    'x-nba-stats-token': 'true',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36',
    'x-nba-stats-origin': 'stats',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-Mode': 'cors',
    'Referer': 'https://stats.nba.com/',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9',
}

In [5]:
response = requests.get(url=player_url, headers=headers).json()

In [6]:
player_info = response['resultSets'][0]['rowSet']

In [7]:
player_info[0]

[76001,
 'Abdelnaby',
 'Alaa',
 'alaa-abdelnaby',
 1610612757,
 'blazers',
 0,
 'Portland',
 'Trail Blazers',
 'POR',
 '30',
 'F',
 '6-10',
 '240',
 'Duke',
 'USA',
 1990,
 1,
 25,
 None,
 5.7,
 3.3,
 0.3,
 'Career',
 '1990',
 '1994']

In [8]:
len(player_info[0])

26

In [9]:
column_list = [
"PERSON_ID",
"PLAYER_LAST_NAME",
"PLAYER_FIRST_NAME",
"PLAYER_SLUG",
"TEAM_ID",
"TEAM_SLUG",
"IS_DEFUNCT",
"TEAM_CITY",
"TEAM_NAME",
"TEAM_ABBREVIATION",
"JERSEY_NUMBER",
"POSITION",
"HEIGHT",
"WEIGHT",
"COLLEGE",
"COUNTRY",
"DRAFT_YEAR",
"DRAFT_ROUND",
"DRAFT_NUMBER",
"ROSTER_STATUS",
"PTS",
"REB",
"AST",
"STATS_TIMEFRAME",
"FROM_YEAR",
"TO_YEAR",
]

In [10]:
player_df = pd.DataFrame(player_info, columns = column_list)

In [11]:
player_df.sample(10)

,PERSON_ID,PLAYER_LAST_NAME,PLAYER_FIRST_NAME,PLAYER_SLUG,TEAM_ID,TEAM_SLUG,IS_DEFUNCT,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,...,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ROSTER_STATUS,PTS,REB,AST,STATS_TIMEFRAME,FROM_YEAR,TO_YEAR
4399,78413,Verga,Bob,bob-verga,1610612757,blazers,0,Portland,Trail Blazers,POR,...,1967.0,3.0,25.0,NaN,5.0,0.9,0.8,Career,1973,1973
834,76438,Cook,Bobby,bobby-cook,1610610033,None,1,Sheboygan,Redskins,SHE,...,1948.0,NaN,NaN,NaN,11.5,NaN,3.1,Career,1949,1949
2819,77528,McElroy,Jim,jim-mcelroy,1610612762,jazz,0,Utah,Jazz,UTA,...,1975.0,3.0,38.0,NaN,9.9,2.0,3.5,Career,1975,1981
2830,77534,McGregor,Gil,gil-mcgregor,1610612758,kings,0,Sacramento,Kings,SAC,...,1971.0,6.0,89.0,NaN,4.1,3.5,0.4,Career,1971,1971
3547,200810,Ray,Allan,allan-ray,1610612738,celtics,0,Boston,Celtics,BOS,...,NaN,NaN,NaN,NaN,6.2,1.5,0.9,Career,2006,2006
4533,101110,Webster,Martell,martell-webster,1610612757,blazers,0,Portland,Trail Blazers,POR,...,2005.0,1.0,6.0,NaN,8.7,3.1,1.0,Career,2005,2014
775,1628492,Clavell,Gian,gian-clavell,1610612742,mavericks,0,Dallas,Mavericks,DAL,...,NaN,NaN,NaN,NaN,2.9,1.0,0.4,Career,2017,2017
4651,2421,Williams,Frank,frank-williams,1610612752,knicks,0,New York,Knicks,NYK,...,2002.0,1.0,25.0,NaN,2.9,0.9,1.9,Career,2002,2004
1171,1631106,Eason,Tari,tari-eason,1610612745,rockets,0,Houston,Rockets,HOU,...,2022.0,1.0,17.0,1.0,NaN,NaN,NaN,Career,2022,2022
1900,77031,Hirsch,Mel,mel-hirsch,1610612738,celtics,0,Boston,Celtics,BOS,...,NaN,NaN,NaN,NaN,1.5,NaN,0.8,Career,1946,1946

In [12]:
player_df.to_csv('player_index.csv', index = False)

In [13]:
season_list = [
    '2016-17'
    '2017-18'
    '2018-19'
    '2019-20'
    '2020-21'
    '2021-22'
]